<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/app/controller.js"></script>
    <script src="/app/services.js"></script>
    <script src="/app/app.js"></script>
</head>
<body ng-app="restaurants">

<div class="idk" ng-view="">

</div>




</body>
</html>